.cardWrapper {
  margin: 40px;
  background-color: var(--dark);
  display: grid;
  grid-template-columns: repeat(auto-fill, maxmin(4, 1fr));
  justify-content: center;
  height: 400px;
  width: 300px;
  border-radius: 50px;
  box-shadow: 37px -11px 54px 6px rgba(89, 60, 89, 1);
  .username {
    font-size: 24px;
    font-weight: bold;
    text-align: center;

    p {
      align-items: center;

      font-size: 17;
    }
  }
}
